# User defined
.claude/
.docs/
.archive/
.temp/
.projects/
CLAUDE.local.md

# Main
.DS_Store
node_modules/**
dist/*
npm-debug.log
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
selenium-debug.log
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Additional (optional)
*.log
.env
.env.local
build/
*.swp
*~
